@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"); */

* {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #242a2e;
}

::-webkit-scrollbar {
  width: 0.9rem;
}

::-webkit-scrollbar-thumb {
  background: #222225;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #100c0c;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

.section1-img {
  height: 420px;
}

.custom-border {
  border-radius: 3px 200px 3px 200px;
  box-shadow: 0px 0px 20px black;
}

.card {
  height: 380px;
  border-radius: 60px;
  background-size: cover;
  background-position: center;
}

.slider-arrow {
  color: white;
}

.header h1 {
  color: #e7e7e7;
}

@media (max-width: 992px) {
  .section1-img {
    height: 300px;
  }

  .custom-border {
    border-radius: 3px 100px 3px 100px;
  }
}
